12+Rules+to+Learn+to+Code+eBook-Copyright+App+Brewery.pdf
Syllabus+for+100+Days+of+Python.pdf
Python+Syntax+Cheat+Sheet+Booklet.pdf
misc.py
bills.py
temp.py
__pycache__/temp.cpython-39.pyc
tempCodeRunnerFile.py
temp/fizz_buzz.py
temp/love_calculator.py
temp/password_generator.py
temp/*
hangman/__pycache__/hangman_art.cpython-39.pyc
hangman/__pycache__/hangman_words.cpython-39.pyc
.idea/*.xml
*/*/*.pyc
.idea/*.iml
.idea/inspectionProfiles/profiles_settings.xml

hangman/.DS_Store
day_18/main.py
day_19/main.py
day_19/main2.py
.vscode/launch.json
data.txt
Mail Merge Project Start/*

